[Unit]
Description=Helper to install Juju and bootstrap LXD on demand

[Socket]
ListenStream=/run/juju-installer-lxd.socket
SocketUser=root
SocketGroup=lxd
SocketMode=0660
Accept=true
MaxConnections=1

[Install]
WantedBy=multi-user.target
