[Unit]
Description=Helper to install Juju snap on demand

[Socket]
ListenStream=/run/juju-installer-snap.socket
SocketUser=root
SocketGroup=lxd
SocketMode=0660
Accept=true
MaxConnections=1

[Install]
WantedBy=multi-user.target
