[Unit]
Description=Helper to install Juju and bootstrap LXD on demand

[Service]
ExecStart=/bin/sh -eu /usr/share/juju-installer/juju-installer-lxd-service
StandardInput=socket
StandardOutput=socket
StandardError=journal
Restart=no
TimeoutStartSec=600
ProtectHome=yes
PrivateTmp=yes
